* {
    margin: 5px;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

body{
    background-color: rgb(15, 14, 14);
}

#sect2{
    display: flex;
    /* margin-bottom: ; */
}

#title{
    color: rgb(84, 18, 18);
    margin-left: auto;
    margin-right: auto;
    font-size: 55px;
    /* border-radius: 5px;
    border-color: antiquewhite;
    border-style: dotted; */
    
}

#sect{
    display: flex;
    /* background-color: aliceblue; */
    width: 1700px;
    height: 625px;
    justify-content: space-between;
    align-items: space-around;
    /* position: ; */

    /* border-radius: 5px;
    border-color: aliceblue;
    border-style: dashed; */
}

#duck-pic{
    display: block;
    margin-left: 125px;
    margin-right: auto;
    height: 600px;
    z-index: 1;
    border-radius: 30px;
}

#desc{
    color: rgb(99, 32, 32);
    letter-spacing: .15em;
    margin-left: 75px;
    z-index: 1;
       
}

#sect3{
    display: flex;
    align-items: space-between;
    position: relative;
    left: 620px;
    bottom: 400px;
    background-color: rgb(162, 165, 168);
    width: 175px;
    border-radius: 10px;
}

#sect4{
    background-color: rgb(99, 32, 32);
    margin-top: 0px;
    margin-left: 0px;
    height: 60px;
    display: flex;
    align-content: center;
}

.hover{
    background: #4C5B63;
    background: -moz-linear-gradient(left, #4C5B63 0%, #9FAAAA 50%, #434647 100%);
    background: -webkit-linear-gradient(left, #4C5B63 0%, #9FAAAA 50%, #434647 100%);
    background: linear-gradient(to right, #4C5B63 0%, #9FAAAA 50%, #434647 100%);
}

#header{
    font-size: 22px;
    color: rgb(15, 14, 14);
}